
streamlit
langchain_core
langchain_community
langchain_ollama
keras
matplotlib
numpy
pandas
scikit-learn
scipy
tensorflow
pytorch
mic_recorder
PyPDF2
StringIO
pytesseract
python-docx
uuid
speech_recognition

